In [ ]:
def greet ():
    print("hello")

In [6]:
greet()

hello

In [7]:
def greet (user = "guest"):
    print(f"hello {user}")

In [12]:
greet("Nazmul")

helloNazmul

In [29]:
def squere_addition(a,b,c):
    print(f"{a} {b} {c}")
    
    a=a**2
    b=b**2
    return (a+b+c)
    #position argument
 ans = squere_addition(a=10,c=30,b=20) + 10
print (ans)

10 20 30
540

In [30]:
ans = squere_addition(10,20,30)
print(ans)

10 20 30
530

In [ ]:
def squere_addition(*args):
    print(args)
    
    a=a**2
    b=b**2
    return (a+b+c)

In [32]:
def squere_addition(*args):
    summation =0
    for i in args:
        i = i**2
        summation+=1
        return summation

In [37]:
ans = squere_addition(10,20,30,455,50)
print(ans)

1

In [ ]:
def student (**kwargs)
    print (kwargs)

In [45]:
student ( name = "nazmul", cls = 10 , roll = 30, marks =30.5)

{'name': 'nazmul', 'cls': 10, 'roll': 30, 'marks': 30.5}

In [47]:
def student (**kwargs):
   for key, val in kwargs.items ():
    print (f"{key } : {val}")

In [48]:
student ( name = "nazmul", cls = 10 , roll = 30, marks =30.5)

name : nazmul
cls : 10
roll : 30
marks : 30.5

Return

In [2]:
def give__prediction():
    return 10.52

type (give__prediction())

float

In [3]:
def give__prediction():
    return 10

type (give__prediction())

int

In [4]:
def give__prediction():
    return 10,20

type (give__prediction())

tuple

In [5]:
def give__prediction():
    return "name"

type (give__prediction())

str

In [11]:
def give__prediction(a,b):
    return a,b

type (give__prediction(10,30))

print(give__prediction(10,30))
##unpacking

x,y=give__prediction(10,30)
print(x,y)

(10, 30)
10 30

In [1]:
def give__prediction():
    a= [10,20,30]
    b=[20,302,40]
    return a,b

type (give__prediction())
##unpacking

x,y=give__prediction()
print(x)
print (y)

[10, 20, 30]
[20, 302, 40]

In [2]:
def give__prediction():
    a= {10,20,30}
    b= [20,302,40]
    return a,b

X= give__prediction()

print(type(x))

for item in x:
    print(item)

<class 'list'>
10
20
30

In [5]:
def give__prediction():
    return { "name" :"adil", "addr":"clg" } , { "name" :"Nir", "addr":"dhaka"}

X,y = give__prediction()

print(type(x))
for item in x:
    print(item)

<class 'list'>
10
20
30

In [2]:
s = {10,20,30,40,50 }

s_iter = iter(s)
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))
print(next(s_iter))

50
20
40
10
30

### Generator

In [17]:
lst = [ x for x in range (500)] # dataset 

def deta_loder(chunk_size,lst):
        for i in range(len(lst)):
            yield lst[i:i+chunk_size]


x = deta_loder (5,lst)

print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (x)
print (type(x))

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[2, 3, 4, 5, 6]
[3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
<generator object deta_loder at 0x000001B91A7BB060>
<class 'generator'>

In [19]:
lst = [ x for x in range (500)] # dataset 

def deta_loder(chunk_size,lst):
        for i in range(0,len(lst),chunk_size):
            yield lst[i:i+chunk_size]


x = deta_loder (5,lst)

print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (next(x))
print (x)
print (type(x))

[0, 1, 2, 3, 4]
[5, 6, 7, 8, 9]
[10, 11, 12, 13, 14]
[15, 16, 17, 18, 19]
[20, 21, 22, 23, 24]
<generator object deta_loder at 0x000001B91A892980>
<class 'generator'>

### Lambda Function

In [2]:
def squere_addition(x,y):
    return x**2+y**2

sq_add = lambda x,y : x**2 + y**2

print (sq_add(2,3))

13

In [3]:
if_even = lambda x :x%2==0

print (if_even(11))

False

### Map finction

In [6]:
lst = [1,2,3,4,5,6]

def squere (x):
    return x**2

lst = list(map(squere ,lst))

print (lst)

[1, 4, 9, 16, 25, 36]

In [19]:
## string 

string = "Hello World , Welcome to the age of AI"

string1 = list(map(str.upper,string))

print (string1)

string1 = " ".join(string1)
print (string1)

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D', ' ', ',', ' ', 'W', 'E', 'L', 'C', 'O', 'M', 'E', ' ', 'T', 'O', ' ', 'T', 'H', 'E', ' ', 'A', 'G', 'E', ' ', 'O', 'F', ' ', 'A', 'I']
H E L L O   W O R L D   ,   W E L C O M E   T O   T H E   A G E   O F   A I

In [32]:
## map with lambda function

lst = [1,2,3,4,5,6]
lst = list(map(lambda x: x**2 if x%2==0 else x ,lst))

print(lst)

[1, 4, 3, 16, 5, 36]

### filter

In [36]:
numbers = [x for x in range (100)]


#even
even = filter(lambda x : x % 2==0,numbers)
print (list(even))

#fifty upper
fifty_upper = filter(lambda x : x >50 ,numbers)
print (list(fifty_upper))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]
[51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [39]:
data = [0,1,'',None, "hello", [],[1,2],None,True,False,None ]

cleaned_data = list(filter(None,data))
print (cleaned_data)

[1, 'hello', [1, 2], True]

In [45]:
##string
vowel_ = list(filter(lambda x:x in "AEIOU", string1))
print(vowel_ )

['E', 'O', 'O', 'E', 'O', 'E', 'O', 'E', 'A', 'E', 'O', 'A', 'I']

In [51]:
fruts = ['appel', 'bannna' ,'cat','dog','a']
## filltering = list(filter(lambda x: x == 'cat', fruts))
filltering = list(filter(lambda x: len(x)>2, fruts))
print (filltering)

['appel', 'bannna', 'cat', 'dog']

#### Reduce--> functools

In [52]:
from functools import reduce

In [53]:
lst =[1,2,3,4,5,6]
summation = reduce (lambda x,y :x+y ,lst)
print (summation)

21

In [54]:
lst =[ 1,2,30,4,5,6]
max_value = reduce(lambda x,y : x if x>y else y ,lst)
print (max_value)

30